
html {
    width: 100%;
    height:100%;
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0;
} 
body {
    width: 100%;
    min-height:100%;
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0;
}

#app {
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 0 100px;
    box-sizing: border-box;
    position: relative;
}

.header {
    padding: 30px 5px;
    height: 30px;
    position: relative;
    

    h1 {
        transform: scale(1, 1);
        transform-origin: 0 0;
        transition: all ease .4s;
        position: absolute;
        top: 30px;
        left: 5px;
        font: 600 21px sans-serif;
        padding: 0;
        margin: 0;
        line-height: 30px;
    }

    .zoom {
        transform: scale(0.6, 0);
        transform-origin: 0 30px;
        transition: all ease .3s;
        position: absolute;
        top: 30px;
        left: 5px;

        color: #008eea;
        font: 400 16px sans-serif;
        cursor: pointer;

        span {
            line-height: 30px;
            margin-left: 8px;
        }
    }

    &.in-zoom {
        h1 {
            transform: scale(0.6, 0);
        }
        .zoom {
            transform: scale(1, 1);
        }
    }

    &.double {
        height: 60px;
    }
}

.range {
    position: absolute;
    bottom: 60px;
    right: 5px;
    font: 600 16px sans-serif;
    line-height: 30px;
}

.changer {
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
    
    transform: scale(1, 1);
    transform-origin: 90% 30px;

    &.animation {
        transition: all ease .3s;
    }

    &.hide {
        transform: scale(0.9, 0);
    }

    &.hiding {
        transform-origin: 90% 0;
        transform: scale(0.9, 0);
    }

    &.reverse {
        transform-origin: 90% 0;
        &.hiding {
            transform-origin: 90% 30px;
        }
    }
}
.mini-map {
    margin: 20px 5px 0;
    position: relative;
    height: 48px;
    padding: 1px 0;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity ease .1s;

    .cover {
        position: absolute;
        height: 100%;
        background-color: rgba(226, 238, 249, 0.6);
        top: 0;
    }

    &.fade {
        opacity: 0;
    }
}

.lens {
    position: absolute;
    height: 100%;
    border: 1px solid #C0D1E1;
    border-right-width: 5px;
    border-left-width: 5px;
    box-sizing: border-box;
    top: 0;

    span {
        position: absolute;
        width: 10px;
        top: 0;
        height: 100%;
        cursor: ew-resize;
    }
}


.menu {
    padding: 0 5px;
    margin-top: 20px;
}

.mode {
    cursor: pointer;
    padding: 35px 0;
    color: #008eea;
    text-align: center;
    font: 300 21px sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.loupe {
    float: left;

    line {
        stroke: #008eea;
        stroke-width: 3px;
    }
    circle {
        fill: transparent;
        stroke: #008eea;
        stroke-width: 3px;
    }
}

.night {
    background-color: #222f3f;

    h1 {
        color: #fafafa;
    }

    .mini-map .cover {
        background-color: rgba(48, 66, 89, .6);;
    }
    .lens {
        border-color: #56626D;
    }
    .range {
        color: white;
    }
}