
html {
    width: 100%;
    height:100%;
    max-width: 100% !important;
    overflow-x: hidden !important;
} 
body {
    width: 100%;
    min-height:100%;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

#app {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 100px;
    box-sizing: border-box;
    position: relative;
}


#header {
    padding: 0 5px;
    h1 {
        font: 600 21px sans-serif;
        padding: 30px 0 15px;
        margin: 0;
    }
}

.night {
    background-color: #222f3f;

    h1 {
        color: #fafafa;
    }

    #mini-map .cover {
        background-color: rgba(19, 26, 31, 0.5);
    }
    .lens {
        border-color: rgba(103, 118, 128, 0.5);
    }
}

#mini-map {
    margin: 20px 5px 0;
    position: relative;
    height: 48px;
    padding: 1px 0;
    box-sizing: border-box;

    .cover {
        position: absolute;
        height: 100%;
        background-color: rgba(233, 241, 247, 0.5);
        top: 0;
    }
}

.lens {
    position: absolute;
    height: 100%;
    border: 1px solid rgba(168, 193, 210, 0.5);
    border-right-width: 5px;
    border-left-width: 5px;
    box-sizing: border-box;
    top: 0;

    span {
        position: absolute;
        width: 10px;
        top: 0;
        height: 100%;
        cursor: ew-resize;
    }
}


#menu {
    padding: 0 5px;
    margin-top: 20px;
}

.mode {
    cursor: pointer;
    padding: 35px 0;
    color: #008eea;
    text-align: center;
    font: 300 21px sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}