
.chart {
    margin-bottom: 50px;
    position: relative;

    &.as-sg {
        padding-bottom: 150px;
        .menu, .mini-map {
            position: absolute;
        }
    }
}

.lines {
    position: absolute;
    top: -10px;
    left: 5px;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.invisible {
    display: none;
}

.pop-up {
    .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(24, 45, 59, 0.1);
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }
        
    .dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        border-width: 2px;
        border-style: solid;
        margin: -4px;
        background-color: white;
    }

    .panel {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #f2f4f5;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        width: 170px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .value {
        float: right;
        font: 600 15px sans-serif;
    }
    .block {
        float: left;
        width: 100%;
    }
    .name {
        font: 400 14px sans-serif;
        float: left;

        b {
            display: inline-block;
            width: 36px;
        }
    }

    .date {
        font: 600 14px sans-serif;
        float: left;
        padding-bottom: 5px;
    }
    
    .icon {
        position: absolute;
        right: 10px;
        top: 8px;
    }
    &.animation {
        .panel {
            transition: all .3s ease;
        }
    } 
}

.night {

    .pop-up {
        .panel {
            background-color: #1b2533;
            border-color: rgba(27, 37, 51, .5);
        }
        .name, .date, .value {
            color: white;
        }
        .line {
            background-color: rgba(255, 255, 255, 0.1);
        }
        .shadow {
            background-color: rgba(24, 45, 59, 0.1);
        }
        .dot {
            background-color: #222f3f;
        }
        .icon {
            color: #56626D;
        }
    }
}
