

.line {
    opacity: 1;
    transition: opacity .4s ease;

    &.transparent {
        opacity: 0;
    }

    line {
        stroke: #f2f4f5;
    }
}

svg text, svg tspan {
    font: 300 12px sans-serif;
    fill: #a6b1b8;
}

.time {
    &.invisible {
        visibility: hidden;
    }
}

.main-chart {
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
}

.mini-map-chart {
    stroke-width: 1;
    fill: none;
}

.polyline {
    opacity: 1;
    transition: opacity .3s ease;

    &.transparent {
        opacity: 0;
    }
    &.invisible {
        visibility: hidden;
    }
}

.pop-up {
    .invisible,
    &.invisible {
        visibility: hidden;
    }
    
    .line, .rect, .shadow {
        fill: white;
        stroke: #f2f4f5;
    }

    .date {
        fill: black;
    }
    .inner-circle {
        fill: white;
    }

    text {
        font: 400 14px sans-serif;
    }
    .value {
        font: 600 15px sans-serif;
    }
}

.night {
    .line line {
        stroke: #2b3f51;
    }
    svg text, svg tspan {
        fill: #485e6f;
    }

    .pop-up {
        .line, .rect, .shadow {
            fill: #222f3f;
            stroke: #2b3f51;
        }
        .date {
            fill: white;
        }
        .inner-circle {
            fill: #222f3f;
        }
    }

}

