.night {
    .checkbox {
        color: #fafafa;
        border-color: #2b3f51;
    
        .border {
            background-color: #222f3f;
        }
    }
}

.checkbox {
    display: inline-block;
    height: 44px;
    line-height: 30px;
    border-radius: 25px;
    border: 1px solid #ebf0f3;
    padding: 6px 18px 6px 44px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin: 0 20px 20px 0;

    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    position: relative;

    color: #565b5d;
    transition: color .3s ease;

    &.as-check {
        color: #fafafa;
    }

    .point {
        position: absolute;
        top: 21px;
        left: 22px;
        width: 0;
        height: 0;
    }

    .icon {
        opacity: 0;
        transition: all .3s ease;
        background-repeat: no-repeat;
        position: absolute;
        top: -8px;
        left: -7px;
        width: 15px;
        height: 15px;

        background-image: url("https://coding.studio/tchart/check.svg");
    }

    &.as-check .icon {
        opacity: 1;
    }

    .border {
        position: absolute;
        border-style: solid;
        border-width: 1px;
        width: 26px;
        height: 26px;
        margin: -13px;
        border-radius: 50%;
        background-color: white;
        z-index: -1;
        box-sizing: border-box;
    }


    .inner {
        position: absolute;
        width: 0;
        height: 0;
        box-sizing: border-box;
        border-radius: 50%;
        transition: all .3s ease;
        z-index: -1;
    }
    &.as-check .inner {
        width: 26px;
        height: 26px;
        margin: -13px;
    }


    .outer {
        width: 0;
        height: 0;
        position: absolute;
        border-radius: 50%;
        transition: all .3s ease;
        z-index: -1;
    }

    &.as-check .outer {
        width: 300px;
        height: 300px;
        margin: -150px;
    }
}
