.night {
    .checkbox {
        color: #fafafa;
        border-color: #2b3f51;
    
        .cover {
            fill: #222f3f;
        }
    }
}

.checkbox {
    display: inline-block;
    height: 44px;
    line-height: 30px;
    border-radius: 25px;
    border: 1px solid #ebf0f3;
    padding: 6px 18px 6px 44px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin: 0 20px 20px 0;

    overflow: hidden;
    position: relative;

    color: #565b5d;
    transition: color .3s ease;
    
    &.as-check {
        color: #fafafa
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        display: block;
        z-index: -1;
    }

    .check-mark {
        fill:none;
        stroke:white;
        stroke-width:2;
        stroke-linecap: round;
    }

    .cover {
        fill: white;
        transform: scale(1);
        transform-origin: 21px 22px;
        transition: transform .3s ease;
    }

    &.as-check .cover {
        transform: scale(0);
    }

    .shadow {
        transform-origin: 21px 22px;
        transform: scale(0);
        transition: transform .3s ease;
    }

    &.as-check .shadow {
        transform: scale(1);
    }
}
